/* Reset and general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    background-image: url('czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MjItMDQ3LWtxOTJ3eDl5LmpwZw.jpg.webp'); /* Replace 'background-image.jpg' with your actual image path */
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background for content */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 2.5rem;
    color: #333;
}

main {
    display: block; /* Changed from flex to block */
}

section {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background for sections */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align content */
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 60%;
    height: auto;
    border-radius: 8px 8px 0 0;
    max-width: 60%; /* Ensure images don't exceed card width */
    display: block;
}

.card-content {
    padding: 20px;
    text-align: center; /* Center align text content */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for text content */
    border-radius: 0 0 8px 8px; /* Rounded corners at the bottom */
}

.card-content h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
}

.card-content p {
    color: #666;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
